---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hakkımda"
	description=""
	pubDate={new Date('May 05 2025')}
	heroImage="/image.jpg"
>
  <p>
    Ben, frontend geliştirme konusunda uzmanlaşmak için çabalayan ve 5 yıllık deneyime sahip tutkulu bir yazılım geliştiricisiyim. 
    Kariyerim boyunca, temiz, verimli ve kullanıcı dostu arayüzler oluşturmak odaklı pek çok proje geliştirdim.
    Ana uzmanlığım frontend teknolojilerinde olsa da, NestJS ve Django gibi framework'ler kullanarak backend projeleri de geliştirdim..
  </p>
</Layout>
