---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 05 2025')}
	heroImage="/image.jpg"
>
  <p>
    I am a passionate software developer with 5 years of experience, specializing
    primarily in frontend development. Throughout my career, I have built numerous
    projects focused on creating clean, efficient, and user-friendly interfaces. While my
    main expertise lies in frontend technologies, I have also developed backend projects
    using frameworks like NestJS and Django.
  </p>
  <p>
    Born in 1994, I am highly motivated and truly dedicated to continuous learning and
    growth in the software field. My strong technical knowledge, combined with my
    enthusiasm for creating impactful digital experiences, drives me to deliver high-
    quality solutions in every project I undertake.
  </p>
</Layout>
