---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi there 🙋 - I'm glad you stopped by.</h1>
			<p>
        Welcome to My Frontend Dev Blog!
      </p>

      <p>

        This blog is dedicated to sharing everything I learn and use in my journey as a frontend developer. 

        Here, you’ll find practical tips, tools, and tutorials about <code>HTML</code>, <code>CSS</code>, <code>JavaScript</code>, and modern frameworks like React, Vue, NextJs and more. 

        Whether it's a handy trick, a tool that saved me hours, or insights from real-world projects, I’m here to pass it on.

        <b>Feel free to explore, learn something new, and join the conversation!</b>
			</p>
		</main>
		<Footer />
	</body>
</html>
